@model PAM.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoogleUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Photo != null)
                {
                    var base64 = Convert.ToBase64String(Model.Photo);
                    var imagsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src=@imagsrc style="max-width:100px; max-height:100px" />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
